*{
    margin: 0;
    padding: 0;
 
}


.Portfolio{
background-color: blue;
margin: auto;
width: 100%;
height: 800px;
display: flex;
flex-wrap: wrap;
justify-content:center;
align-items: center;
gap: 20px;

}

.photo{

background-color: white;
width: 30%;
text-align: center;

}





 div img{
   
    width: 100%;
}

